$hangman : #B65D51 ;

html{
    body{
        // margin: 0;
        width: 100%;
        height:100%;
        background-color:#EAE8DC;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #B65D51;
        #languages{
            position: absolute;
            top: 3%;
            right:2%;
        }
        #languages > *{
            cursor: pointer;
            background-color:#D8C3A4;
            color: #B65D51;
            border: none;
            border-radius: 40%;
            width: 30px;
        }
        #btn-new-game{
            position: absolute;
            background-color:#D8C3A4;
            border-color: #B65D51;
            color: #B65D51;
            font-weight: bold;
            font-size: 3vw;
            cursor: pointer;
            border-radius: 10px;
            width: 30vw;
            height: 10%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);

        }

        main{
            display: none;
            position: relative;
            width: 90vw;
            height: 90vh;
            #hangman{
                position:absolute;
                width: 40vw;
                height: 60vh;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                svg {
                    margin: 0 auto;
                    stroke: black;
                    stroke-width: 4;
                
                    circle{
                        fill:none;
                    }
                    // all children aren't displayed
                    > * {
                        display: none;
                    }
                }
        
            }

            #letter-played{
                background-color:red;
                position:absolute;
                width: 100%;
                height: 10vh;
                bottom: 3vh;
                right: 0%;
            }
            #letter_already_played{
                position:absolute;
                width: 100%;
                height: 10vh;
                bottom: 20vh;
                right: 0%;
            }

            #word_container{
                position:absolute;
                width: 100%;
                height: 10vh;
                bottom: 14vh;
                left: 0%;
                text-align: center;
                color : #B65D51;
            }
            
            #end_game{
                display: none;
                position:absolute;
                background-color:  #B65D51;
                border-radius: 10px;
                color:#D8C3A4;
                opacity: 0.9;
                width: 60vw;
                height: 30vh;
                top: 40%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                #solution{
                    margin-top: 0;
                }
                button{
                    display: block;
                    position:absolute;
                    width: 10vw;
                    height:6vh;
                    top: 60%;
                    left:50%;
                    font-weight: bold;
                    border-radius: 5px;
                    transform: translateX(-50%);
                    background-color:#D8C3A4;
                    color : #B65D51;
                    border-color: #B65D51;
                    cursor: pointer;
                }
            }
        }
    }
    > *{
        margin: 0;
    }
}

@media only screen and (max-width: 400px)  {
    html{
        body{
            main{
                #hangman{
                    top: 15%;
                    left: 10%;
                    transform: translateX(-10%);   
                            
                }       
                #letter_already_played{
                    bottom: 15vh;
                }
                #word_container{
                    bottom: 5vh; 
                }
                    
                #end_game{
                    width: 80vw;
                    button{
                        width: 20vw;
                    }
                }
            }
        }
    }
}